# OS or Editor folders
*.esproj
*.sublime-project
*.sublime-workspace
.DS_Store
.Spotlight-V100
.Trashes
._*
.cache
.idea
.project
.settings
.tmproj
Desktop.ini
Thumb.db
Thumbs.db
nbproject

_site
.jekyll-metadata
.jekyll-cache
.sass-cache
