---
# Stylesheet
---

@import 'variables';
@import 'github';
@import 'syntax';
@import 'carbon-ads';

* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $base-font-family, $base-font-family-fallback;
  background-color: $base-bgcolor;
  color: $base-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h1#head {
  display: none;
}

a {
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  transition: all .2s ease-in-out;
  color: #70B7FD;
  color: #222;

  &:hover,
  &:focus {
    border-bottom: 1px solid #70B7FD;
    color: #70B7FD;
    color: #000;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

ul ul {
  padding-left: 20px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 8px 16px;
}

.site__header {
  padding: 60px 0 30px;
  background-color: #F2F2F2;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.site__title {
  font-size: 40px;
  text-align: center;

  & > span:last-child {
    color: #ACACAC;
  }

  @media(min-width: 700px) {
    font-size: 72px;
    text-align: left;
  }
}

.header-content {
  @media(min-width: 700px) {
    display: flex;
    align-items: flex-start;
  }
}

.header-link {
  display: flex;
  align-items: center;
  margin: 0 auto 40px;
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: #fff;
  min-width: 240px;
  width: 240px;
  height: 218px;
  font-size: .8em;

  & > a {
    display: block;
    padding: 1rem 2rem;
    border-bottom: none;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  @media(min-width: 700px) {
    margin: 0;
  }
}

.header-text {
  text-align: center;

  @media(min-width: 700px) {
    margin-left: 40px;
    text-align: left;
  }
}

.site__main {
  margin: auto;
  max-width: 800px;
}

.site__main p:first-of-type {
  font-size: 1.5em;

  a {
    border: none;
  }
}

.site__main p:nth-of-type(2) {
  display: none;
}

pre {
  overflow-x: auto;
  word-wrap: normal;
  white-space: pre;
  background-color: #f5f5f5;

  padding: 16px;
  font-size: 85%;
  line-height: 1.45;
}

code {
  border-radius: 0;
  padding: 0.2em 0;
}

.highlight {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

// #facebook.pluginButton {
//   transform: scale(3.5);
//   -ms-transform: scale(3.5);
//   -webkit-transform: scale(3.5);
//   -o-transform: scale(3.5);
//   -moz-transform: scale(3.5);
//   transform-origin: top left;
//   -ms-transform-origin: top left;
//   -webkit-transform-origin: top left;
//   -moz-transform-origin: top left;
//   -webkit-transform-origin: top left;
// }
//
// .pluginButtonIconSVG {
//   height: 28px;
//   width: 28px;
// }
//
// .plugin, .plugin button, .plugin input, .plugin label, .plugin select, .plugin td, .plugin textarea {
//   font-size: 22px;
// }
