<!-- Fathom - beautiful, simple website analytics -->
	<script src="https://cdn.usefathom.com/script.js" data-site="BHNIEZPH" defer></script>
<!-- / Fathom -->

{% if site.google_analytics %}
	<!-- Google Analytics -->
	<script>
	  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
	  ga('create','{{ site.google_analytics }}','auto');ga('send','pageview')
	</script>
	<script src="https://www.google-analytics.com/analytics.js" async defer></script>
	<!-- End Google Analytics -->
{% endif -%}
