<header class="site__header">
  <div class="container">

    <h1 class="site__title">
      {{ site.title | xml_escape }}
      <!-- html<span>head</span>.dev -->
      <!-- &lt;head&gt; cheatsheet -->
    </h1>

    <div class="header-content">
      <div class="header-link">
        <!-- <a target="_blank" href="https://amazon.com/?tag=buchea-20">
          <img src="/img/amazon-logo-large.jpg" width="100%" height="auto">
          <p>Please use this affiliate link when you shop at Amazon.</p>
          <p>Thank You! 🤗</p>
        </a> -->

        <!-- Carbon Ads -->
        <!-- <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYIL537&placement=getheadinfo" id="_carbonads_js"></script> -->
      </div>

      <div class="header-text">
        <h2>A free guide to HTML5 &lt;head&gt; elements</h2>

        {% include share-page.html %}

        <div>
          a project by <a href="https://twitter.com/{{ site.twitter_username }}">@joshbuchea</a>
        </div>
      </div>
    </div>

    <a href="//github.com/joshbuchea/head" class="github" target="_blank">
      <svg xmlns="//www.w3.org/2000/svg" viewBox="0 0 250 250" fill="#fff">
        <path d="M0 0l115 115h15l12 27 108 108V0z" fill="#000"/>
        <path class="github__arm" d="M128 109c-15-9-9-19-9-19 3-7 2-11 2-11-1-7 3-2 3-2 4 5 2 11 2 11-3 10 5 15 9 16" style=""/>
        <path class="github__body" d="M115 115s4 2 5 0l14-14c3-2 6-3 8-3-8-11-15-24 2-41 5-5 10-7 16-7 1-2 3-7 12-11 0 0 5 3 7 16 4 2 8 5 12 9s7 8 9 12c14 3 17 7 17 7-4 8-9 11-11 11 0 6-2 11-7 16-16 16-30 10-41 2 0 3-1 7-5 11l-12 11c-1 1 1 5 1 5z"/>
      </svg>
    </a>

  </div>
</header>
