.github {
  height: 80px;
  width: 80px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateZ(0);
  z-index: 1;

  &:hover {
    .github__arm {
      @media (min-width: $media-sm) {
        animation: octocat-wave 560ms ease-in-out;
      }
    }
  }

  &__arm {
    transform-origin: 130px 106px;
  }

}

a.github,
a.github:hover,
a.github:focus {
  border-bottom: none;
}

@keyframes octocat-wave {
  0%, 100%{
    transform: rotate(0);
  }
  20%, 60%{
    transform: rotate(-25deg);
  }
  40%, 80%{
    transform: rotate(10deg);
  }
}
