// .highlight .hll { background-color: #ffc; }
// .highlight .c { color: #999; } /* Comment */
// .highlight .err { color: #a00; background-color: #faa } /* Error */
// .highlight .k { color: #069; } /* Keyword */
// .highlight .o { color: #555 } /* Operator */
// .highlight .cm { color: #09f; font-style: italic } /* Comment.Multiline */
// .highlight .cp { color: #099 } /* Comment.Preproc */
// .highlight .c1 { color: #999; } /* Comment.Single */
// .highlight .cs { color: #999; } /* Comment.Special */
// .highlight .gd { background-color: #fcc; border: 1px solid #c00 } /* Generic.Deleted */
// .highlight .ge { font-style: italic } /* Generic.Emph */
// .highlight .gr { color: #f00 } /* Generic.Error */
// .highlight .gh { color: #030; } /* Generic.Heading */
// .highlight .gi { background-color: #cfc; border: 1px solid #0c0 } /* Generic.Inserted */
// .highlight .go { color: #aaa } /* Generic.Output */
// .highlight .gp { color: #009; } /* Generic.Prompt */
// .highlight .gs { } /* Generic.Strong */
// .highlight .gu { color: #030; } /* Generic.Subheading */
// .highlight .gt { color: #9c6 } /* Generic.Traceback */
// .highlight .kc { color: #069; } /* Keyword.Constant */
// .highlight .kd { color: #069; } /* Keyword.Declaration */
// .highlight .kn { color: #069; } /* Keyword.Namespace */
// .highlight .kp { color: #069 } /* Keyword.Pseudo */
// .highlight .kr { color: #069; } /* Keyword.Reserved */
// .highlight .kt { color: #078; } /* Keyword.Type */
// .highlight .m { color: #f60 } /* Literal.Number */
// .highlight .s { color: #d44950 } /* Literal.String */
// .highlight .na { color: #4f9fcf } /* Name.Attribute */
// .highlight .nb { color: #366 } /* Name.Builtin */
// .highlight .nc { color: #0a8; } /* Name.Class */
// .highlight .no { color: #360 } /* Name.Constant */
// .highlight .nd { color: #99f } /* Name.Decorator */
// .highlight .ni { color: #999; } /* Name.Entity */
// .highlight .ne { color: #c00; } /* Name.Exception */
// .highlight .nf { color: #c0f } /* Name.Function */
// .highlight .nl { color: #99f } /* Name.Label */
// .highlight .nn { color: #0cf; } /* Name.Namespace */
// .highlight .nt { color: #2f6f9f; } /* Name.Tag */
// .highlight .nv { color: #033 } /* Name.Variable */
// .highlight .ow { color: #000; } /* Operator.Word */
// .highlight .w { color: #bbb } /* Text.Whitespace */
// .highlight .mf { color: #f60 } /* Literal.Number.Float */
// .highlight .mh { color: #f60 } /* Literal.Number.Hex */
// .highlight .mi { color: #f60 } /* Literal.Number.Integer */
// .highlight .mo { color: #f60 } /* Literal.Number.Oct */
// .highlight .sb { color: #c30 } /* Literal.String.Backtick */
// .highlight .sc { color: #c30 } /* Literal.String.Char */
// .highlight .sd { color: #c30; font-style: italic } /* Literal.String.Doc */
// .highlight .s2 { color: #c30 } /* Literal.String.Double */
// .highlight .se { color: #c30; } /* Literal.String.Escape */
// .highlight .sh { color: #c30 } /* Literal.String.Heredoc */
// .highlight .si { color: #a00 } /* Literal.String.Interpol */
// .highlight .sx { color: #c30 } /* Literal.String.Other */
// .highlight .sr { color: #3aa } /* Literal.String.Regex */
// .highlight .s1 { color: #c30 } /* Literal.String.Single */
// .highlight .ss { color: #fc3 } /* Literal.String.Symbol */
// .highlight .bp { color: #366 } /* Name.Builtin.Pseudo */
// .highlight .vc { color: #033 } /* Name.Variable.Class */
// .highlight .vg { color: #033 } /* Name.Variable.Global */
// .highlight .vi { color: #033 } /* Name.Variable.Instance */
// .highlight .il { color: #f60 } /* Literal.Number.Integer.Long *///

// .css .o,
// .css .o + .nt,
// .css .nt + .nt { color: #999; }

/*
  Darkly Pygments Theme
  (c) 2014 Sourcey
  http://sourcey.com
*/

// .highlight {
//   white-space: pre;
//   overflow: auto;
//   word-wrap: normal; /* horizontal scrolling */
//   -moz-border-radius: 3px;
//   -webkit-border-radius: 3px;
//   border-radius: 3px;
//   padding: 20px;
//   background: #343642;
//   color: #C1C2C3;
// }
// .highlight .hll { background-color: #ffc; }
// .highlight .gd { color: #2e3436; background-color: #0e1416; }
// .highlight .gr { color: #eeeeec; background-color: #c00; }
// .highlight .gi { color: #babdb6; background-color: #1f2b2d; }
// .highlight .go { color: #2c3032; background-color: #2c3032; }
// .highlight .kt { color: #e3e7df; }
// .highlight .ni { color: #888a85; }
// .highlight .c,.highlight .cm,.highlight .c1,.highlight .cs { color: #8D9684; }
// .highlight .err,.highlight .g,.highlight .l,.highlight .n,.highlight .x,.highlight .p,.highlight .ge,
// .highlight .gp,.highlight .gs,.highlight .gt,.highlight .ld,.highlight .s,.highlight .nc,.highlight .nd,
// .highlight .ne,.highlight .nl,.highlight .nn,.highlight .nx,.highlight .py,.highlight .ow,.highlight .w,.highlight .sb,
// .highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .sr,
// .highlight .s1,.highlight .ss,.highlight .bp { color: #C1C2C3; }
// .highlight .k,.highlight .kc,.highlight .kd,.highlight .kn,.highlight .kp,.highlight .kr,
// .highlight .nt { color: #729fcf; }
// .highlight .cp,.highlight .gh,.highlight .gu,.highlight .na,.highlight .nf { color: #E9A94B ; }
// .highlight .m,.highlight .nb,.highlight .no,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,
// .highlight .il { color: #8ae234; }
// .highlight .o { color: #989DAA; }
// .highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi { color: #fff; }

/*
  One Dark Syntax Pygments Theme
  https://github.com/mgyongyosi/OneDarkJekyll
*/

.highlight, pre.highlight {
  background: #282c34;
  color: #abb2bf;
}

.highlight pre {
  background: #282c34;
}

.highlight .hll {
  background: #282c34;
}

.highlight .c {
  color: #5c6370;
  font-style: italic;
}

.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

.highlight .k {
  color: #c678dd;
}

.highlight .l {
  color: #98c379;
}

.highlight .n {
  color: #abb2bf;
}

.highlight .o {
  color: #abb2bf;
}

.highlight .p {
  color: #abb2bf;
}

.highlight .cm {
  color: #5c6370;
  font-style: italic;
}

.highlight .cp {
  color: #5c6370;
  font-style: italic;
}

.highlight .c1 {
  color: #5c6370;
  font-style: italic;
}

.highlight .cs {
  color: #5c6370;
  font-style: italic;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gs {
  font-weight: 700;
}

.highlight .kc {
  color: #c678dd;
}

.highlight .kd {
  color: #c678dd;
}

.highlight .kn {
  color: #c678dd;
}

.highlight .kp {
  color: #c678dd;
}

.highlight .kr {
  color: #c678dd;
}

.highlight .kt {
  color: #c678dd;
}

.highlight .ld {
  color: #98c379;
}

.highlight .m {
  color: #d19a66;
}

.highlight .s {
  color: #98c379;
}

.highlight .na {
  color: #d19a66;
}

.highlight .nb {
  color: #e5c07b;
}

.highlight .nc {
  color: #e5c07b;
}

.highlight .no {
  color: #e5c07b;
}

.highlight .nd {
  color: #e5c07b;
}

.highlight .ni {
  color: #e5c07b;
}

.highlight .ne {
  color: #e5c07b;
}

.highlight .nf {
  color: #abb2bf;
}

.highlight .nl {
  color: #e5c07b;
}

.highlight .nn {
  color: #abb2bf;
}

.highlight .nx {
  color: #abb2bf;
}

.highlight .py {
  color: #e5c07b;
}

.highlight .nt {
  color: #e06c75;
}

.highlight .nv {
  color: #e5c07b;
}

.highlight .ow {
  font-weight: 700;
}

.highlight .w {
  color: #f8f8f2;
}

.highlight .mf {
  color: #d19a66;
}

.highlight .mh {
  color: #d19a66;
}

.highlight .mi {
  color: #d19a66;
}

.highlight .mo {
  color: #d19a66;
}

.highlight .sb {
  color: #98c379;
}

.highlight .sc {
  color: #98c379;
}

.highlight .sd {
  color: #98c379;
}

.highlight .s2 {
  color: #98c379;
}

.highlight .se {
  color: #98c379;
}

.highlight .sh {
  color: #98c379;
}

.highlight .si {
  color: #98c379;
}

.highlight .sx {
  color: #98c379;
}

.highlight .sr {
  color: #56b6c2;
}

.highlight .s1 {
  color: #98c379;
}

.highlight .ss {
  color: #56b6c2;
}

.highlight .bp {
  color: #e5c07b;
}

.highlight .vc {
  color: #e5c07b;
}

.highlight .vg {
  color: #e5c07b;
}

.highlight .vi {
  color: #e06c75;
}

.highlight .il {
  color: #d19a66;
}

.highlight .gu {
  color: #75715e;
}

.highlight .gd {
  color: #f92672;
}

.highlight .gi {
  color: #a6e22e;
}
